body{
    margin: 0;
}

.card{
    width: 500px; 
    height: fit-content; 
    background-color: aliceblue; 
    border: solid 5px #022419; 
    border-radius: 25px;
}

.boxImage{
    width: 100px; 
    height: 100px; 
    background-color: #022419;
    border: 1px solid;
    border-radius: 50px;
}

#estiloH1{
    font-family: monospace, sans-serif; 
    font-size: 30px;
}

span{
    color:firebrick;
}

.estiloAzul{
    color:blue
}
